html,
body {
  font-family: "Roboto", monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-size: 14px;
}

#map {
    bottom: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0px;
}

.searchbtn, .locbtn {
  display: none;
  color: black;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 10px;
  right: 78px;
  cursor: pointer;
  padding: 7px 6px;
  border-radius: 4px;
  border: 2px solid #9ac2c3;
}

.locbtn-large {
  color: black;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  top: 34px;
  left: 320px;
  cursor: pointer;
  padding: 7px 6px;
  border: 1px solid gray;
}

.searchbar {
  position: absolute;
  top: 25px;
  left: 10px;
  background-color: rgba(255,255,255, 0.5);
  border: 1px solid gray;
  padding: 15px 10px;
}

.searchbar input {
  width: 175px;
  padding: 5px;
}

#submit {
  width: 80px;
  padding: 7px;
  border: none;
  background: #0091ff;
  color: white;
}

.results {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 25px;
  right: 10px;
  background: rgba(255,255,255, 0.6);
  width: 25%;
  border: 1px solid gray;
}

.results-list {
  padding: 0;
  list-style-type: none;
  overflow: auto;
  max-height: 450px;
}

.results-list li {
  border-top: 1px solid #e0e0e0;
  padding: 0 24px;
  cursor: pointer;
}


@media ( max-width: 500px) {

    .searchbar {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(255,255,255, 0.5);
    border: 1px solid gray;
    padding: 15px 0;
  }

  .locbtn-large {
    color: black;
    background-color: rgba(255, 255, 255, .3);
    position: absolute;
    top: 80px;
    left: 5px;
    cursor: pointer;
    padding: 7px 6px;
    border: 1px solid gray;
  }

  .results {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255,255,255, 0.6);
    width: 22%;
    border: 1px solid gray;
  }

}
